        body{
            background-color: #677d9c;
        }
        
        #mainTitle {
            text-align: center;
            font-family: "Times New Roman", serif;
            font-size: max(20px, 40px);
            margin-bottom: 3px;
        }

        .aImg {
            font-family: "Times New Roman", serif;
            font-size: max(5px, 20px);
            margin: 0 auto;
        }

        nav {
            text-align: center;
        }

        .hr1 {
            width: 100%;
            margin: 10px 0px;
            border: 1px solid #000;
        }

        .headerStyle {
            font-size: max(15px, 25px);
            text-align: center;
            font-family: "Times New Roman", serif;
            margin-bottom: 8px;
        }

        .paragraphStyle {
            text-align: center;
            font-family: "Times New Roman", serif;
            font-size: max(10px, 20px);
        }

        .firstContent {
            align-items: center;
            gap: 20px;
            max-width: 900x;
            margin: 0 auto;
        }

        .firstContent img {
            display: block;
            margin: 0 auto;
            max-width: 250px;
            height: auto;
            border-radius: 16px;
            box-shadow: 0 6px 18px rgba(0,0,0,.12); 
        }

        .footer{
            text-align: center;
            padding: 24px 16px;
        }

        .image-row {
            border-radius: 16px;
            display: flex;
            justify-content: center;
            gap: 20px;
            margin: 20px 0;
        }

        .image-row img {
            width: 200px; 
            height: auto;
        }

        .listStyle {
            font-family: "Times New Roman", serif;
            font-size: max(10px, 20px);
        }

        