#mainTitle {
            text-align: center;
            font-family: "Times New Roman", serif;
            font-size: max(20px, 40px);
            margin-bottom: 3px;
        }

        .aImg {
            font-family: "Times New Roman", serif;
            font-size: max(5px, 20px);
            margin: 0 auto;
        }

        nav {
            text-align: center;
        }

        h2 {
            font-size: max(15px, 25px);
            text-align: center;
            font-family: "Times New Roman", serif;
        }
        
        h3 {
            font-size: max(15px, 25px);
            text-align: center;
            font-family: "Times New Roman", serif;
        }

        #indexP1 {
            text-align: center;
            font-family: "Times New Roman", serif;
            font-size: max(10px, 20px);
        }

        #indexP2 {
            text-align: center;
            font-family: "Times New Roman", serif;
            font-size: max(10px, 20px);
        }

        .firstContent {
            align-items: center;
            gap: 20px;
            max-width: 900x;
            margin: 0 auto;
        }

        .firstContent img {
            display: block;
            margin: 0 auto;
            max-width: 250px;
            height: auto;
        }

        