body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: black;
    font-size: 40px;
    margin-bottom: 5px;
}

