body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: black;
    font-size: 40px;
    margin-bottom: 5px;
}

#statusText {
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 10px;
}

#hangmanPic {
    width: 200px;
    height: auto;
    margin: 15px;
    border: 2px solid black;
}

button {
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
}
