body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ea7272;
}

h1 {
    text-align: center;
    font-weight: bold;
}

legend {
    margin-bottom: 1px;
    text-align: center;
    font-weight: bold;
}

fieldset {
    background-color: #b1a2a2;
    width: 40px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}

input {
    border-radius: 10px;
}

#usernameMsg {
    font-size: 12px;
    font-weight: bold;
}

#password2 {
    font-size: 12px;
    font-weight: bold;
}

#zipMsg {
    font-size: 12px;
    font-weight: bold;
}